/node_modules
/public/hot
/public/upload/livewire-tmp
/public/storage
/public/css/app.css
/public/js/app.js
/storage/*.key
/config/oracle.php
/vendor
/.scannerwork/*
/public/.scannerwork/*
.env
.env.testing
.idea/*
.phpunit.result.cache
docker-compose.override.yml
Homestead.jsons
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
sftp-config.json
*.log
